*{margin:0; padding:0}
li{list-style-type:none}
a{text-decoration:none;color:#500000}
body{
	font:16px sans-serif;
}	
#containar{
	margin:0 auto;
	width:1000px;	
}

/* 메인 메뉴 고정 1*/
#main_fix{				/*메인 메뉴는 휠 내려도 따라오게 한다 메인메뉴들을 전부 감싼다.*/
	position:fixed;
	top:0;
}	
	
#main_top{
	width:1000px; /*굳이 주지 않아도 containar에 사이즈 맞춰지지만 화면이 작아지면 축소하므로 고정한다 */
	height:25px;
	background:#E9DAD4;
}

.main_top_menu{
	float:right;
	height:20px;
	padding-top:3px;
}

.main_top_menu li{display:inline}

.main_top_menu li a {
	float:left; /*딱붙이고 싶을땐 float를 사용 */ 
	/* display:inline-block; 공간을 주고 싶으면 inline-block 사용  */
	width:80px;
	font-size:13px;
	text-align:center;
	border-right: 1px solid #500000;
}

.main_top_menu li:last-child a{ /*main_top_manu li의 마지막 a태그 안의 border의 속성값을 주지 않겠다. */
	border:none;
}

#main_menu{
	height:90px;
	background:green;
}	

/* juhan mush farm 간판 */
.main_menu_left{
	float:left;
	width:300px;
	height:68px;
	padding-top:22px;
	text-align:center;
	font-size:26px;
	color:white;
	background:#E9DAD4;
}

/*메인 메뉴 배너 */
.main_menu_right{
	float:right;
	width:700px;
	height:85px; /* 57, 90px; */
	padding-top:5px;
	background:#BCADA8;
}

/*메인 메뉴 배너 효과 주기 */

.main_menu_right li a{
	transition:width 1.2s, color 1.2s; /* 1.2초 안에 변화를 주겠다.*/
		-moz-transition:width 1.2s, color 1.2s; /*모질라 브라우저에서 켯을때 1.2초동안 바꾸겟다.*/
		-webkit-transition:width 1.2s, color 1.2s; /*크롬브라우저에서 켯을때 1.2초동안 바꾸겟다.*/
		-o-transition:width 1.2s, color 1.2s; /*오페라 브라우저에서 켯을때 1.2초동안 바꾸겟다.*/
		text-decoration:none;
}

.main_menu_right li a:hover {	
	/* width:100px; */
	color:#775A50;
}
	
.menu li{display:inline;}

.menu li a{
	float:left;
	width:140px;
	height:25px;
	text-align:center;
	font-size:18px;
	color:white;
	margin-top:30px; /* main_menu_right에 padding-top 값을 주고 height를 조절해 맞추는 방법도 있다 */
}	

/*메인 베너 사진 / 메인 베너사진이 메인 메뉴에 묻히기 때문에 margin-top으로 공간을 준다*/

#main_bottom{
	height:200px;
	/* background:url("../image/abc.gif"); */
	margin-top:115px;
	animation:main_bottom 12s infinite;
	-moz-animation:main_bottom 12s infinite;
	-webkit-animation:main_bottom 12s infinite;
	-o-animation:main_bottom 12s infinite;
}

/*메인 베너 사진 변경 */
@keyframes main_bottom {
0% {background:url("../image/abc.gif")}
20% {background:url("../image/main-mush-1.gif")}
40% {background:url("../image/main-mush-2.gif")}
60% {background:url("../image/main-mush-3.gif")}
80% {background:url("../image/main-mush-4.gif")}
100% {background:url("../image/main-mush-5.gif")}
}

@-moz-keyframes main_bottom {
0% {background:url("../image/abc.gif")}
20% {background:url("../image/main-mush-1.gif")}
40% {background:url("../image/main-mush-2.gif")}
60% {background:url("../image/main-mush-3.gif")}
80% {background:url("../image/main-mush-4.gif")}
100% {background:url("../image/main-mush-5.gif")}
}

@-webkit-keyframes main_bottom {
0% {background:url("../image/abc.gif")}
20% {background:url("../image/main-mush-1.gif")}
40% {background:url("../image/main-mush-2.gif")}
60% {background:url("../image/main-mush-3.gif")}
80% {background:url("../image/main-mush-4.gif")}
100% {background:url("../image/main-mush-5.gif")}
}

@-o-keyframes main_bottom {
0% {background:url("../image/abc.gif")}
20% {background:url("../image/main-mush-1.gif")}
40% {background:url("../image/main-mush-2.gif")}
60% {background:url("../image/main-mush-3.gif")}
80% {background:url("../image/main-mush-4.gif")}
100% {background:url("../image/main-mush-5.gif")}
}

/*notice menu*/

#noticemenu{
	float:left;
	width:250px;
	height:320px;
	margin-top:20px;
	background:#E9DAD4;
}	

.noticemenu1> li{
	height:40px;
	text-align:center;
	padding-top: 10px;
	font-size: 18px;
	border-bottom:1px solid black;
}	

.noticemenu1 li:last-child {
	border:none;
}

.ganpan {
	height:50px;
	text-align:center;
	padding-top:15px;
	color: white;
	background:#775A50;
}

#mainnotice{
	float: right;
	margin-top: 20px;
	width: 730px;
	height:700px;
	/* background: #E9DAD4; */
}

/*작성자 및 검색*/
.topnotice{
	border-bottom: 1px solid black;
/* //	background: orange; */
}

#topnoticebox{
	height: 50px;
	border-bottom: 1px solid black;
/* //	background: #775A50; */

}

.topnoticeleft{
	float: left;
	width: 370px;
	height: 50px;
/* //	background: palegreen; */
}

.topnoticeright{
	float: right;
	padding-top: 15px;
	width: 360px;
	height: 50px;
/* //	background: orange; */
}

.topnoticeright select{
	padding: 5 10 5 10px;
}

.table{
	width:730px;
	text-align: center;
/* //	background: palevioletred; */
}

.table td{
	padding:5px;
	border-bottom: 1px solid black;
}

.table thead th { 
	border-top: 1px solid #775A50;
	border-bottom: 1px solid #775A50;
	padding: 5px 0; text-align: 
	center; background: #BCADA8; 
}

.button{
	float:right;
	margin-top: 5px;
	margin-right: 5px;
}

.text-center{
	margin-top: 30px;
	margin-left: 250px;
}

.pagination{
	list-style:none;
	float:left;
	display:inline;
}

.pagination li{
	float:left;
}

.pagination li a {
	float:left;
	padding:4px;
	margin-right:3px;
	width:15px;
	color:#000;
	font:bold 12px tahoma;
	border:1px solid #775A50;
	text-align:center;
	text-decoration:none;
}

#footer{
	clear: both;
	height:100px;
	margin-top:20px;
	padding-top: 40px;
	background:#BCADA8;
}


