
#content{
	width:1012px;
	padding:40px 6px 0 6px;
}
#content:after{
	content:"";
	display:block;
	clear:both;
}
	#content_left{
		float:left;
		width:600px;
		height:388px;
		background:#8f957d;
	}
		#content_left div img{
			width:148.5px;
			height:128px;
		}
		
		#content_left div{
			width:600px;
			height:128px;
			margin-bottom:2px;
			background:#8f957d;
		}
		#content_left div:last-child{
			margin-bottom:0px;
		}
		#content_left div p{
			float:left;
			width:148.5px;
			height:128px;
			margin-right:2px;
			background:purple;
		}
		#content_left div p:last-child{
			margin-right:0px;
		}
	#content_right{
		float:right;
		width:400px;
		height:388px;
	}
		#content_right div{
			width:400px;
			height:190px;
		}
		#content_right div:first-child{
			margin-bottom:8px;
		}
		#content_right div:last-child{
			padding:0;
			width:370px;
			height:40px;
			padding-top:150px;
			padding-left:30px;
		}		


/* 왜 .product_1 안되고 #content_left .product_1 되는지*/
#content_left .product_1{background:url("../img/images/m_001.jpg");}
#content_left .product_2{background:url("../img/images/m_002.jpg");}
#content_left .product_3{background:url("../img/images/m_003.jpg");}
#content_left .product_4{background:url("../img/images/m_004.jpg");}
#content_left a{
	display:inline-block;
	width:148px;
	height:128px;
	text-align:center;
	color:#fff;
	//border:1px solid blue;
}
.p_title{
	display:inline-block;
	padding-top:40px;
}	
.p_desc{
	font-size:10px;
	color:red;
}
.p_title, .p_desc{
	visibility: hidden;
	//display:none;
}
#content_left a:hover{
	background:rgba(10,10,10,0.3);
}
#content_left a:hover .p_title, #content_left a:hover .p_desc{
	visibility: visible;
}
/* 이것도 됨
	#content_left a{
		display:inline-block;
		width:148px;
		height:88px;
		text-align:center;
		padding-top:40px;
	}
	.p_title{
		font-size:20px;
		color:#fff;
	}
	.p_desc{
		font-size:13px;
		color:#f53e1d;	
	}
	#content_left span{
		visibility:hidden;
	}
	#content_left a:hover{
		background:rgba(10,10,10,0.4);
	}
	#content_left a:hover span{
		visibility:visible;
	}
*/	

	#content_right div fieldset{
		padding:3px 5px;
		border-top:1px solid #b6afae;
		border-bottom:0;
		border-left:0;
		border-right:0;
//		border:0;
	}
	#content_right div fieldset ul li{
		border-bottom:1px dotted gray;
	}
	#content_right div fieldset legend{
		letter-spacing:5px;
		
	}
	.noti_t{
		display:inline-block;
		width:75%;
		font-size:14px;
	}
	.noti_d{
		display:inline-block;
		width:25%;	
		font-size:12px;
		text-align:right;
	}
	#content_right div:last-child {
		background:url("../img/images/content_1.jpg");
	}
	#content_right div:last-child p{
		width:70px;
		height:24px;
		text-align:center;
		padding-top:6px;
		font-size:12px;
		color:gray;
		border:1px solid gray;
		border-radius:5px;
	}	
	
#content2{
	width:894px; 
	height:100px;
	margin-top:40px;
	padding-top:300px;
	padding-left:130px;
	background:url("../img/images/content_2.jpg");
}
#content2 p{
	width:100px;
	height:30px;
	text-align:center;
	padding-top:6px;
	font-size:15px;
	color:#fff;
	border-radius:5px;
	background:#f66254;
}	


	#content3{
		width:1024px;
		height:400px;
		margin-top:40px;
	}
		.best_menu{
			width:1024px;
			height:35px;
		}
			.best_menu_title{
				float:left;
				width:185px;
				height:35px;
			}
			.best_menu_list{
				float:right;
				width:839px;
				height:35px;
			}
			.best_menu_list ul{
				float:right;
			}
			.best_menu_list ul li{
				display:inline;
				margin-left:5px;
			}
			.best_menu_list ul li a{
				display:inline-block;
				font-size:12px;
				padding-top:17px;
			}
			
	.bestseller_content{
		width:1024px;
		height:355px;
		padding-top:10px;
	}
	.bestseller_content ul li{
		display:inline-block;
	}
	.bestseller_content ul li a{
		float:left;
		width:246.5px;
		height:353px;
		padding:1px;
		background:#e8e8e7;
	}
	.bestseller_content ul li:last-child{
		margin-right:0px;
	}
	.bestseller_content img{
		width:100%;
	}
	.best_item_name{
		padding-top:10px;
		font-size:14px;
		color:#c8c8c5;
		text-align:center;
		background:#fff;
	}
	.best_item_price{
		padding-top:25px;
		padding-left:10px;
		font-size:16px;
		
		color:#b7b7b2;
		background:#fff;
	}
	.best_item_price span{
		font-size:13px;
	}
	.best_item_desc {
		padding:8px 5px;
		color:#f5655b;
		font-size:14px;
		background:#fff;
	}		
