.my-page-box {
    width: 1140px;
    margin: 50px auto 0;
}
.my-page-box:after {
    display: table;
    table-layout: fixed;
    clear: both;
    content: '';
}
.my-list-left{
    float: left;
    width: 216px;
}
/*프로필 정보*/
.my-profile{
    padding: 29px 10px 27px;
    border: 1px solid #777d83;
    background-color: #848b91;
    text-align: center;
    color: #fff;
}
/*프로필 내용*/
.my-profile-img {
    border-radius: 50%;
    vertical-align: top;
}
.my_profile_nickname {
    margin-top: 10px;
    font-size: 15px;
}
.my_profile_nickname .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 162px;
    vertical-align: middle;
}
.my_profile_nickname:after { /*닉네임 뒤에 "님" 글자*/
    content: '\B2D8';
}
.my_profile_id {
    margin-top: 2px;
    font-size: 13px;
}
/*프로필 메뉴*/
.my_lnb {
    padding: 48px 34px 44px 32px;
    border: 1px solid #dcdcdc;
    border-top: 0;
    background-color: #fafafa;
}

.my_lnb_item {
    display: block;
    position: relative;
    margin-top: 49px;
    font-family: NanumSquareWebFont,dotum,Sans-serif;
    font-size: 17px;
}
.my_lnb_item:first-child {
    margin-top: 0;
}
.my_lnb_item[aria-current=true] {
    font-weight: 700;
    color: #00ab33;
}
.my_content {
    float: right;
    width: 884px;
}